# Manipulación y análisis de datos
pandas>=2.0.0
numpy>=1.24.0

# Visualización
matplotlib>=3.7.0
seaborn>=0.12.0

# Machine Learning y Preprocesamiento
scikit-learn>=1.3.0

# Entorno de experimentación
jupyter>=1.0.0
ipykernel>=6.20.0

# Aplicación interactiva
streamlit>=1.28.0
